<div class="add-form-area">
  <div class="form-area">
    <div class="cross-area">
      <img class="cross-svg" src="../../../assets/svg/cross.svg" alt="" width="20" height="16" (click)="cancelClick()">
    </div>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <section>

        <div class="input-heigth">
          <label class="form-label"><span class="msg">*</span> Transação:</label>
          <select name="select-type" class="form-select" [(ngModel)]="transaction.type!.id">
            <option value="0" disabled selected="true">Selecione um tipo de trasação</option>
            <option *ngFor="let type of types" [value]="type.id" [selected]="false">
              {{ type.name }}
            </option>
          </select>
        </div>

        <div class="input-heigth">
          <label for="due-date" class="form-label"><span class="msg">*</span> Data vencimento:</label>
          <input type="date" name="due-date" id="due-date" class="form-control" [(ngModel)]="transaction.dueDate"
            required>
        </div>

        <div style="margin-bottom: 15px;">
          <label for="floatingTextarea" class="form-label">Descrição</label>
          <textarea class="form-control" placeholder="Informe uma descrição da trasação" name="text-descricao" rows="5"
            cols="30" id="floatingTextarea" [(ngModel)]="transaction.description"></textarea>
        </div>

        <div class="right-align input-heigth">
          <label for="" class="form-label"><span class="msg">*</span> Tipo transação:</label>
          <select name="select-transaction" class="form-select" [(ngModel)]="transaction.debitOrCredit">
            <option value="0" disabled selected="true">Selecione entre débito ou crédito</option>
            <option value="1">Debito</option>
            <option value="2">Crédito</option>
          </select>
        </div>

        <div class="right-align input-heigth">
          <label for="value" class="form-label"><span class="msg">*</span> Valor:</label>
          <span class="input-number">R$</span>
          <input type="number" step=".01" name="value" id="value" class="form-control input-btn"
            [(ngModel)]="transaction.value">
        </div>

        <div class="input-area">
          <input type="submit" value="Salvar" class="btn success limited">
          <input (click)="deleteClick()" value="Excluir" class="btn cancel limited">
        </div>

        <small *ngIf="error" class="msg">{{ error }}</small>

      </section>
    </form>
  </div>
</div>
