.add-form-area {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  .form-area {
    display: flex;
    flex-direction: column;
    background-color: #161a2e;
    border-radius: 10px;
    margin-top: 30px;
    padding: 0px;
    max-width: 420px;
  }
}

form {
  div {
    margin-top: 5px;
  }
}

.input-area {
  display: flex;
  justify-content: space-between;
}

.input-btn {
  padding-left: 30px;
}

.input-number {
  color: #161a2e;
  display: block;
  position: absolute;
  padding-left: 10px;
  padding-top: 5px;
}

.cross-area {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cross-svg {
  background-color: #111525;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: red;
  }
}

.input-heigth {
  height: 71px;
}


.form-person {
  margin: 40px 50px 60px 50px;
}