.add-form-area {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  .form-area {
    background-color: #161a2e;
    border-radius: 10px;
    margin-top: 30px;
    padding: 0px 40px 40px 40px;
    max-width: 420px;
  }
}

form {
  margin-top: 40px;

  div {
    margin-top: 5px;
  }
}

.input-area {
  display: flex;
  justify-content: space-between;
}

.input-btn {
  padding-left: 30px;
}

.input-number {
  color: #161a2e;
  display: block;
  position: absolute;
  padding-left: 10px;
  padding-top: 5px;
}

.cross-area {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  max-width: 286px;
}

.cross-svg {
  cursor: pointer;
  border-radius: 20px;

  &:hover {
    background-color: red;
  }
}
