<div class="select-month-balance">
  <div class="select-month">
    <select class="form-select" aria-label="Default select example">
      <option>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option selected="true" value="3">Three</option>
    </select>
  </div>

  <div>
    <p *ngIf="100 < 0">Saldo: <span class="negative">R$ 100</span>
    </p>
    <p *ngIf="100 >= 0">Saldo: <span class="positive">R$ 100</span>
    </p>
  </div>

</div>

<div class="area-table info">

  <table class="table table-striped bg-blue">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div>
