<div class="select-month-balance">
  <div class="select-month">
    <select class="form-select month" aria-label="Default select example">
      <option *ngFor="let month of months" [value]="month.id" [selected]="isActualMonth(month.id)">
        {{ month.name }}
      </option>
    </select>
  </div>

  <div class="balance">
    <p *ngIf="100 < 0">Saldo: <span class="negative">R$ 100</span>
    </p>
    <p *ngIf="100 >= 0">Saldo: <span class="positive">R$ 100</span>
    </p>
  </div>

</div>

<div class="area-table info">

  <table class="table table-striped bg-blue">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div>
