<div class="select-month-balance">
  <div class="select-month">
    <div class="area-select">
      <select class="form-select month" [(ngModel)]="params.actualMonth" (ngModelChange)="onChangeMonth($event)">
        <option *ngFor="let month of months" [value]="month.id" [selected]="isActualMonth(month.id)">
          {{ month.name }}
        </option>
      </select>
    </div>
    <div class="area-select">
      <select class="form-select year" [(ngModel)]="params.actualYear" (ngModelChange)="onChangeYear($event)">
        <option *ngFor=" let year of years" [value]="year" [selected]="years[4]">
          {{ year }}
        </option>
      </select>
    </div>
  </div>

  <div class="balance">
    <p *ngIf="balances.balanceMonth !== undefined && balances.balanceMonth < 0">Saldo do mês: <span class="negative">{{
        balances.balanceMonth.toFixed(2)
        }}</span>
    </p>
    <p *ngIf="balances.balanceMonth !== undefined && balances.balanceMonth >= 0">Saldo do mês: <span class="positive">{{
        balances.balanceMonth.toFixed(2)
        }}</span>
    </p>
  </div>
</div>

<div class="area-table table-info">

  <table class="table table-striped bg-blue">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Tipo transação</th>
        <th scope="col">Descrição</th>
        <th scope="col" class="right-align">Valor</th>
        <th scope="col" class="right-align"></th>
        <th scope="col" class="right-align">Saldo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ getDateString(transaction.dueDate!) }}</td>
        <th>{{ transaction.type?.name }}</th>
        <td>{{ transaction.description}}</td>
        <th class="right-align">{{ transaction.value?.toFixed(2) }}</th>
        <th *ngIf="transaction.debitOrCredit === 'D'" class="right-align"><span class="negative">{{
            transaction.debitOrCredit }}</span></th>
        <th *ngIf="transaction.debitOrCredit === 'C'" class="right-align"><span class="positive">{{
            transaction.debitOrCredit }}</span></th>

        <th class="right-align weight-str">{{ transaction.afterBalance?.toFixed(2) }}
        </th>
      </tr>
      <tr *ngIf="transactions.length == 0">Nenhuma transação</tr>
    </tbody>
  </table>
</div>
<button class="btn info" type="submit" routerLink="/transaction/{{ accountId }}/add">
  <div>
    <img src="../../../assets/svg/plus.svg" alt="" width="30" height="24">
    Adicionar transação
  </div>
</button>
