.area-table {
  border-radius: 10px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
}

.info {
  border: solid 1px #aff;
  background: #161a2e;
  color: #fff;
}

.bg-blue {
  background-color: #161a2e;
  color: #fff;
}

th {
  font-weight: bold;
}

tbody td,
th {
  color: #fff !important;
}

tr:hover {
  background-color: #1e2840;
  color: #fff;
}

tr:active {
  background-color: #1e3050;
}

.select-month {
  display: flex;
  width: 300px;
}

.select-month-balance {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 15px 0;

  .month {
    width: 100px;
  }

  .year {
    width: 70px;
  }

  .balance {
    min-width: 75px;
  }
}

.right-align {
  text-align: end;
}

.area-select {
  display: flex;
  margin: 8px;

  label {
    text-align: center;
  }
}
