<div class="text-title">
  <p>
    Análise de movimentações refente ao ano de {{ year }}
  </p>
</div>

<div *ngIf="loading" class="loading-area">
  <div class="spinner-border text-primary" role="status" style="width: 2rem; height: 2rem;">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!isEmpty && !loading" class="flex-area">

  <div class="area-charts-balance">
    <app-chartsbalances tipo="inc" class="charts"></app-chartsbalances>
  </div>
  <div class="area-charts-balance">
    <app-chartsbalances tipo="exp" class="charts"></app-chartsbalances>
  </div>

  <div class="divider">
    <hr>
  </div>


  <div class="area-charts">
    <app-chartsbar class="charts"></app-chartsbar>
  </div>
  <div class="area-charts">
    <app-chartsdonut class="charts"></app-chartsdonut>
  </div>
  <div class="area-charts">
    <app-chartszoomable class="charts"></app-chartszoomable>
  </div>
</div>

<div *ngIf="isEmpty && !loading" class="flex-area">
  <div class="area-info">
    <p>Adicione movimentações para habilitar a exibição do dashboard.</p>
    <button class="btn info" routerLink="/transaction/{{ accountId }}">Transações</button>
  </div>

</div>
