<div class="general-area">
  <div class="balance-area">
    <p>Saldo atual: </p>
    <p *ngIf="balance >= 0" class="positive fonte">{{ balance.toFixed(2) }}</p>
    <p *ngIf="balance < 0" class="negative fonte">{{ balance.toFixed(2) }}</p>
  </div>

  <div class="divider">
    <hr>
  </div>
</div>


<!-- Criar componente para informar que não existem transações -->

<div *ngIf="loading" class="loading-area">
  <div class="spinner-border text-primary" role="status" style="width: 2rem; height: 2rem;">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!isEmpty && !loading" class="flex-area">
  <div class="area-charts">
    <app-chartsbar class="charts"></app-chartsbar>
  </div>
  <div class="area-charts">
    <app-chartsdonut class="charts"></app-chartsdonut>
  </div>
  <div class="area-charts balances">
    <app-chartszoomable class="charts"></app-chartszoomable>
  </div>
</div>

<div *ngIf="isEmpty && !loading" class="flex-area">
  <div class="area-info">
    <p>Adicione movimentações para habilitar a exibição do dashboard.</p>
    <button class="btn info" routerLink="/transaction/{{ accountId }}">Transações</button>
  </div>

</div>
