.flex-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.area-charts {
  margin: 30px 10px 30px 10px;
  width: 480px;
  max-width: 480px;
  height: 365px;

  background-color: #161a2e;
  border-radius: 4px;
}

.charts {
  color: #000 !important;
  width: 100%;
}
