<div class="general-area">
  <div class="balance-area">
    <p>Saldo atual: </p>
    <p *ngIf="balance >= 0" class="positive fonte">{{ balance }}</p>
    <p *ngIf="balance < 0" class="negative fonte">{{ balance }}</p>
  </div>

  <div class="divider">
    <hr>
  </div>
</div>


<!-- Criar componente para informar que não existem transações -->

<div *ngIf="!isEmpty" class="flex-area">
  <div class="area-charts">
    <app-chartsbar class="charts"></app-chartsbar>
  </div>
  <div class="area-charts">
    <app-chartsdonut class="charts"></app-chartsdonut>
  </div>
  <div class="area-charts balances">
    <app-chartszoomable class="charts"></app-chartszoomable>
  </div>
</div>
