.flex-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.area-charts {
  margin: 30px 10px 30px 10px;
  width: 540px !important;
  max-width: 540px !important;
  min-width: 350px;
  height: 365px;

  background-color: #161a2e;
  border-radius: 4px;
}

.charts {
  color: #000 !important;
  width: 100%;
}

.balance-area {
  margin: 25px 0px;
  padding: 15px;
  border-radius: 10px;
  background-color: #161a2e;
  max-width: 180px;
  height: 60px;
  display: flex;
  gap: 10px;
}

.general-area {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 83%;
}

.divider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: #272b3f;
}

.fonte {
  font-size: 12px;
  font-weight: 700;
}

.loading-area {
  width: 100%;
  padding-top: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.area-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 42px;

  button {
    max-width: 150px;
  }
}

.area-charts-balance {
  margin: 30px 10px 30px 10px;
  width: 204px !important;
  max-width: 204px !important;
  height: 122px;

  background-color: #161a2e;
  border-radius: 5px;
}

.text-title {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
