<section>
  <div *ngIf="accounts.length == 0">
    Nenhuma conta criada!
  </div>

  <ul *ngIf="accounts.length > 0">
    <li *ngFor="let account of accounts">
      <button class="btn info card" type="submit" (click)="onClick()">
        <div class="card-body">
          <h5>Conta: {{ account.accountType }}</h5>
          <hr>
          <div>
            <p *ngIf="account.balance! < 0">Saldo: <span class="negative">R$ {{ account.balance }}</span></p>
            <p *ngIf="account.balance! >= 0">Saldo: <span class="positive">R$ {{ account.balance }}</span></p>
          </div>
        </div>
      </button>
    </li>
  </ul>
</section>
