<section class="area">
  <div class="menu-bar">
    <ul>
      <li>
        <button class="btn info list" routerLink="/dashboard">Dashboard</button>
      </li>

      <li>
        <button class="btn info list">Suas contas</button>
        <div class="accounts">
          <div *ngIf="accounts.length == 0">
            <h3>Nenhuma conta criada!</h3>
          </div>

          <ul *ngIf="accounts.length > 0">
            <li *ngFor="let account of accounts">
              <button class="btn info card" type="submit" routerLink="/transaction/{{ account.id }}">
                <div class="card-body">
                  <p>{{ account.accountType }}</p>
                  <div>
                    <p *ngIf="account.balance! < 0">Saldo: <span class="negative"> {{ account.balance }}</span>
                    </p>
                    <p *ngIf="account.balance! >= 0">Saldo: <span class="positive"> {{ account.balance }}</span>
                    </p>
                  </div>
                </div>
              </button>

            </li>
          </ul>
        </div>
      </li>
    </ul>

  </div>

  <div class="area-transaction">
    <router-outlet></router-outlet>
  </div>
</section>
